streamlit==1.29.0
pandas==2.2.0
numpy==1.26.0
scikit-learn==1.4.0
matplotlib==3.8.2
seaborn==0.13.2
fonttools==4.47.0
nototools @ git+https://github.com/googlefonts/nototools.git@main
setuptools==68.2.2
wheel==0.42.0
